@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12.1569%;
    --card: 36.0000 100.0000% 96.0784%;
    --card-foreground: 0 0% 12.1569%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12.1569%;
    --primary: 37.1014 100% 59.4118%;
    --primary-foreground: 0 0% 100%;
    --secondary: 29.7391 74.1935% 30.3922%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 30 30.4% 30.4%;
    --accent: 38.0488 100.0000% 91.9608%;
    --accent-foreground: 29.7391 74.1935% 30.3922%;
    --destructive: 346.8367 77.1654% 49.8039%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8039%;
    --input: 0 0% 100%;
    --ring: 37.1014 100% 59.4118%;
    --chart-1: 37.1014 100% 59.4118%;
    --chart-2: 29.7391 74.1935% 30.3922%;
    --chart-3: 40.1575 100% 75.0980%;
    --chart-4: 25.6000 29.6443% 50.3922%;
    --chart-5: 48 96.6387% 76.6667%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 12.1569%;
    --sidebar-primary: 37.1014 100% 59.4118%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 96.0784%;
    --sidebar-accent-foreground: 0 0% 12.1569%;
    --sidebar-border: 0 0% 89.8039%;
    --sidebar-ring: 37.1014 100% 59.4118%;
    --font-sans: Inter, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0.01em;
    --spacing: 0.25rem;
  }

  .dark:root {
    --background: 0 0% 7.0588%;
    --foreground: 0 0% 96.0784%;
    --card: 0 0% 11.7647%;
    --card-foreground: 0 0% 96.0784%;
    --popover: 0 0% 11.7647%;
    --popover-foreground: 0 0% 96.0784%;
    --primary: 37.1014 100% 59.4118%;
    --primary-foreground: 0 0% 7.0588%;
    --secondary: 25.6000 29.6443% 50.3922%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 16.4706%;
    --muted-foreground: 240 5.0279% 64.9020%;
    --accent: 37.5000 30.7692% 15.2941%;
    --accent-foreground: 37.1014 100% 59.4118%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 0 0% 96.0784%;
    --border: 0 0% 16.4706%;
    --input: 0 0% 11.7647%;
    --ring: 37.1014 100% 59.4118%;
    --chart-1: 37.1014 100% 59.4118%;
    --chart-2: 25.6000 29.6443% 50.3922%;
    --chart-3: 32.1327 94.6188% 43.7255%;
    --chart-4: 43.2558 96.4126% 56.2745%;
    --chart-5: 20.9091 91.6667% 14.1176%;
    --sidebar: 0 0% 7.0588%;
    --sidebar-foreground: 0 0% 96.0784%;
    --sidebar-primary: 37.1014 100% 59.4118%;
    --sidebar-primary-foreground: 0 0% 7.0588%;
    --sidebar-accent: 0 0% 16.4706%;
    --sidebar-accent-foreground: 0 0% 96.0784%;
    --sidebar-border: 0 0% 16.4706%;
    --sidebar-ring: 37.1014 100% 59.4118%;
    --font-sans: Inter, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 6px;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #000000;
    --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
    --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
    --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 1.00);
  }
}

@layer base {
  * {
    @apply border-border     font-sans;;
  }
  body {
    @apply bg-background text-foreground;
  }
}